$layout-breakpoint: 1024px;

.Menu {
  display: block;
  flex-direction: column;
  padding: 0;
  font-size: 1.25em;
  line-height: 35px;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #f5f5f5;
  align-items: center;
  color: #6c7072;

  &__item-title,
  a {
    text-decoration: none;
    color: #97a1a6;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: #34b6ff;
      text-decoration: none;
    }

    &:focus {
      border: none;
      border-radius: none;
      outline: none;
    }

    &:active {
      color: #009cda;
    }

    &:disabled {
      color: #97a1a6;
      opacity: 0.16;
    }
  }

  @media (min-width: $layout-breakpoint) {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 0.875rem;
    line-height: initial;
    margin: 0;
    border: 0;
  }

  &__item {
    display: inline-block;
    border-top: 1px solid #f5f5f5;
    padding: 15px 0;
    width: 100%;

    @media (min-width: $layout-breakpoint) {
      margin: 0 16px 0 0;
      border: 0;
      padding: 0;
      width: auto;

      &:last-child {
        float: right;
      }
    }
  }

  &__item-title {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    cursor: default;

    &:focus {
      border: 0;
    }
  }

  &__icon-wrapper {
    margin-left: 5px;
    transform: rotate(0deg);

    .rotate {
      transform: rotate(180deg);
    }
  }

  &__sub {
    background-color: #f5f5f5;
    padding: 30px 0;
    margin-bottom: -20px;
    margin-top: 15px;

    a {
      display: flex;
      height: 100%;
      p {
        font-size: 1em;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        color: inherit;
      }
    }

    @media (min-width: $layout-breakpoint) {
      display: flex;
      position: fixed;
      top: 81px;
      left: 0;
      width: 100%;
      height: auto;
      background: white;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);

      padding: 0;
      margin: 0 auto;
    }
  }

  &__sub-container {
    display: flex;
    flex-direction: column;

    @media (min-width: $layout-breakpoint) {
      flex-direction: row;
      margin: 0 auto;
    }
  }

  &__sub-item-wrapper {
    width: 100%;

    @media (min-width: 1024px) {
      padding: 24px;
      width: 33.333333%;
    }
  }

  &__sub-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    height: 64px;
    color: var(--main-dark-gray-color, #747c80);
    margin: 0;
    padding: 0;

    a {
      font-family: 'Ubuntu' sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5rem;
    }

    span {
      font-weight: 700;
    }
  }

  &__sub-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @media (min-width: $layout-breakpoint) {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }
  }

  &__sub-item {
    padding: 5px;
    color: #6c7072;
    font-size: 0.85em;

    @media (min-width: $layout-breakpoint) {
      display: flex;
      font-size: 1em;
      width: 100%;
    }
  }

  &__sub-icon {
    flex-shrink: 0;
    margin-right: 24px;
  }

  &__sub-desc {
    color: #97a1a6;
    margin: 14px 0 24px 0;
  }
}
