.Link {
  text-decoration: none;
  margin-bottom: 8px;
  color: #97a1a6;

  &:hover {
    color: #34b6ff;
    text-decoration: none;
  }

  &:focus {
    border: 2px solid #34b6ff52;
    border-radius: 2px;
  }

  &:active {
    color: #009cda;
  }

  &:disabled {
    color: #97a1a6;
    opacity: 0.16;
  }
}
