.Button {
  font-family: 'Roboto' sans-serif;
  font-weight: 500;
  border-radius: 9999px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  border-width: 2px;
  border-color: transparent;
  border: 0;

  &:hover {
    border-style: solid;
    border-width: 2px;
    text-decoration: none;
    transition: none !important;
  }

  &:disabled {
    opacity: 0.6;
    color: white;
    pointer-events: none;
    cursor: not-allowed;
  }

  // Variants

  // primary
  &__primary {
    color: #ffffff;
    background: transparent linear-gradient(270deg, #f2994a 0%, #ee5757 100%) 0%
      0% no-repeat padding-box;

    &:hover {
      border-color: #ee5757;
      background: transparent;
      color: #ee5757;
    }

    &:focus {
      background: #ee5757;
      color: white;
    }

    &:focus:hover {
      color: #ffffff;
    }

    &-inverted {
      color: #ee5757;
      background: #fff;

      &:hover {
        border-color: #fff;
        background: transparent;
        color: #fff;
      }

      &:focus {
        border-width: 2px;
        border-style: solid;
        border-color: #fff;
        background: #ee5757;
        color: white;
      }

      &:focus:hover {
        color: #ffffff;
      }
    }
  }

  // secondary
  &__secondary {
    background: #34b6ff;
    color: white;

    &:hover {
      border-color: #009cda;
      background: transparent;
      color: #009cda;
    }

    &:focus {
      background: #009cda;
      color: white;
    }

    &:focus:hover {
      color: #ffffff;
    }

    &-inverted {
      color: #34b6ff;
      background: #fff;

      &:hover {
        border-color: #fff;
        background: transparent;
        color: #fff;
      }

      &:focus {
        background: #009cda;
        color: white;
      }

      &:focus:hover {
        color: #ffffff;
      }
    }
  }

  // Sizes

  // regular
  &__regular {
    padding: 13px 32px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.7px;

    &:hover {
      padding: 11px 30px;
    }
  }

  // small
  &__small {
    padding: 10px 24px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.6px;

    &:hover {
      padding: 8px 22px;
    }
  }

  // large
  &__large {
    padding: 16px 40px;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.8px;

    &:hover {
      padding: 14px 38px;
    }
  }
}
