$layout-breakpoint: 1024px;

.Nav {
  z-index: 50;
  display: block;
  position: fixed;
  top: 0;
  right: 0px;
  left: 0px;
  min-height: 80px;

  background: #fff;
  border-bottom-width: 1px;
  border-color: rgb(237, 242, 247);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 28px 15px;
    margin: 0 auto;
  }

  &__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (min-width: $layout-breakpoint) {
      width: auto;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 24px;
    a {
      outline: none;
    }
  }

  &__mobile-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }

    div {
      width: 2rem;
      height: 0.25rem;
      background: #34b6ff;
      border-radius: 10px;
      transition: all 0.3s linear;
      position: relative;
      transform-origin: 1px;
    }

    &--open {
      div {
        &:first-of-type {
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
          transform: translateX(20px);
        }

        &:nth-of-type(3) {
          transform: rotate(-45deg);
        }
      }
    }

    @media (min-width: $layout-breakpoint) {
      display: none;
    }
  }

  &__menu-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $layout-breakpoint) {
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      width: auto;
    }
  }

  &__desktop-menu {
    display: none;

    @media (min-width: $layout-breakpoint) {
      display: flex;
      flex-grow: 1;
      font-size: 0.875rem;
      height: 0.875rem;
    }
  }

  &__mobile-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100% - 81px);
    position: fixed;
    overflow-y: auto;
    width: 100%;
    z-index: 50;
    top: 81px;
    background: #fff;

    @media (min-width: $layout-breakpoint) {
      display: none;
    }
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    @media (min-width: $layout-breakpoint) {
      flex-direction: row;
      align-items: center;
      margin: 0;
    }
  }

  &__button-wrapper {
    margin: 20px;

    @media (min-width: $layout-breakpoint) {
      margin: 0 0 0 20px;
    }
  }
}
